<!DOCTYPE html>
<html>

   <head>
      <title>E | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
     <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body ng-app="shortenURLApp">
      <div class="container">
        <div>
          <h1>
            <i class="fa fa-compress" aria-hidden="true"></i> URL Shortener Microservice
          </h1>
          <small>Second Challenge of Free Code Camp API Projects</small>
        </div>
        
        <form action="">
          <div class="row" ng-controller="shortenURLCtrl">
            <div class="col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
              <div class="input-group input-group-lg">
                <input type="text" class="form-control" placeholder="https://google.com" ng-model="urlToShorten">
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="button">Shorten URL</button>
                </span>
              </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
          </div>
        </form>
        
        <footer>
          <p class="text-center">by <a href="http://eiringonzales.com/" target="_blank">eirin gonzales</a></p>
        </footer>
      
      </div>
     
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
     <script src="/public/app.js" type="text/javascript"></script>
   </body>

</html>
