<!DOCTYPE html>
<html>

   <head>
      <title>E | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
     <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h1>
              <i class="fa fa-cogs" aria-hidden="true"></i> Request Header Parser Microservice
            </h1>
            <small>Second Challenge of Free Code Camp API Projects</small>
          </div>
          <div class="panel-body">
            <div class="input">
              <p>
                Click this link to see your IP address, language and operating system of your browser.
              </p>
              <p>
                <a href="https://satisfying-tennis.glitch.me/whoami" target="_blank">https://satisfying-tennis.glitch.me/whoami</a>
              </p>
            </div>

            <div class="output ">
              <p>
                And you should see your own information.
              </p>
              <pre>
                <code>
    {
      "IP": "49.146.237.60",
      "language": "en-US",
      "OS": "Windows NT 10.0; Win64; x64"
    }
                </code>
              </pre>
            </div>
          </div>
        </div>
        
        <footer>
          <p class="text-center">by <a href="http://eiringonzales.com/" target="_blank">eirin gonzales</a></p>
        </footer>
      
      </div>
   </body>

</html>
