/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
/* 	background-color: #000; */
  padding-top: 40px;
  text-align: center;
}


h1 {
  display: inline-block;
  font-size: 25px;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

ol {
	list-style-position: inside;
}
ul {
	list-style-type: none;
}

a {
	color: #2574A9;
}

pre {
  margin: 0;
}

/****** Logo Div Styling ******/

img {
	margin: 20px auto 0 auto;
	display: block;
}